/* homestyles.css */

/* Set the height of the hero section to fill the viewport */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  color: #ccc;
}

.hero-content {
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.cta-button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #F4B400;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #E69100;
}

@media (max-width : 768px) {
  .hero-content h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
  .hero-content p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .cta-button {
    padding: 0.4rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
}
