/* reset_password.css */

/* Style for the form container */
.forgot {
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Style for the form labels */
  .forgot label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Style for the form inputs */
  .forgot input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* Style for the submit button */
  .forgot input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style for the success message container */
  .error-txt {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ccc;
    
  }
  
  /* Style for the success message */
  .alert {
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Style for the success message with green background */
  .alert-error {
    background-color: #ccc;
    color: #1b1b1b;
  }
  
  /* Style for the close button in the success message */
  .alert-error button.close {
    color: #fff;
    font-size: 20px;
    opacity: 0.6;
    float: right;
    cursor: pointer;
    border: none;
    background: transparent;
  }
  
  /* Hover effect for the close button */
  .alert-error button.close:hover {
    opacity: 1;
  }
  