{% extends 'forms/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}">
<form method="post" action="{% url 'signup:reset_password' %}">
    {% csrf_token %}
    <div class="forgot">
        <div class="password">
            {% if messages %}
            <div class="error-txt">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success"><p>{{ message }}</p></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <label >Email</label>
            <input type="email"  name="email" id="email" placeholder="Enter registered email" required/>
            <input type="submit"/>
        </div>
    </div>
</form>
{% endblock %}