{% extends 'forms/base.html' %}
{%load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<div class='full-container'>
<div class="container">
    <div class="wrapper">
        <section class="form login">
            <header>LibraQuest</header>
            <form action="{% url 'signup:login_user' %}" method='post'>
                {{ form }}
                {% csrf_token %}
                {% if messages %}
                <div class="error-txt">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.tags == 'success' %}
                        <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="field input">
                    <label>UserName</label>
                    <input type="text" name="username" placeholder="Enter UserName" required/>
                </div>
                <div class="field input">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter password" required/>
                    <i class="fas fa-eye"></i>
                </div>
                <div class="field button">
                    <input type="submit" value="Continue to Read"/>
                </div>
            </form>
            <div class="link"><a href="{% url 'signup:forgot_password' %}">Forgot Password</a></div>
            <div class="link">Not yet signed up? <a href="{% url 'signup:register' %}">Signup now</a></div>
        </section>
    </div>
</div>
    <script src="{% static 'js/pass-show-hide.js' %}"></script>
{% endblock %}