{% extends 'forms/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reset_password.css' %}">
<form method="post" action="{% url 'signup:reset_password_confirm' uidb64=uidb64 token=token%}">
    {% csrf_token %}
    <div class="forgot">
        {% if messages %}
            <div class="error-txt">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-error">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="passwords">
            <label>Password</label>
            <input name="password" type="password" id="password" placeholder="Enter Password" required/>
            <label>Confirm password</label>
            <input name="confirm_password" type="password" id="confirm_password" placeholder="Confirm Password" required/>
            <input type="submit">
        </div>
    </div>
</form>
{% endblock %}